<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/home.css">
    <title>Fetch | Home</title>
</head>
<body>

    <header role="header" class="con-full-width">
        <nav role="nov">
            <img src="assets/brand/fetch-logo.png" alt="">
            <ul class="nav">
                <a href="#">FEATURES</a>
                <a href="#">TEAM FETCH</a>
            </ul>
        </nav>
    </header>

    <main role="main">

        <section class="con-full-width fold">

            <form action="#">

                <div class="form-element">
                    <div class="origin">
                        <div><label for="origin">From</label></div>
                        <input type="text" name="origin" id="origin" placeholder="Phoenix" class="quiery-input flex-1 leftBorder">
                    </div>
                    <div class="destination">
                        <div><label for="destination">To</label></div>
                        <input type="text" name="destination" id="destination" placeholder="New York" class="quiery-input flex-1">
                    </div>
                    <div class="outboundDate">
                        <div><label for="outboundDate">Depart</label></div>
                        <input type="date" name="outboundDate" id="outboundDate" class="quiery-input">
                    </div> 
                    <div class="inboundDate">
                        <div><label for="inboundDate">Return</label></div>
                        <input type="date" name="inboundDate" id="inboundDate" class="quiery-input">
                    </div>  
                    <div class="adults">
                        <div><label for="adults">Passengers</label></div>
                        <input type="number" name="adults" id="adults" min="1" value="1" class="quiery-input">
                    </div> 
                </div>
                
            </form>
            <!-- <input type="submit" name="submit" class="quiery-action rightBorder"> -->

        </section>
        

    </main>
</body>
</html>