<!DOCTYPE html>
<html lang="en">
<head>

    <!-- MATA DATA -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FETCH STYLES -->
    <link rel="stylesheet" href="assets/index.css">

    <!-- FETCH FAVICON -->
    <link rel="shortcut icon" type="image/png" href="assets/brand/fetch-favicon.png"/>

    <title>Flight Fetch | Home</title>

</head>
<body>

    <!-- HEADER -->
    <header role="header" class="fixed-top">

        <div class="container-fluid">
            <!-- NAV -->
            <nav>
                <div class="container">
                    <div class="d-flex flex-row p-3 justify-content-between align-items-center">
                        <!-- BRAND -->
                        <div>
                            <a href="#"><img class="brand" src="assets/brand/fetch-logo.png" alt="brand"></a>
                        </div>
                        <!-- NAV-LINKS -->
                        <div>
                            <a class="mr-3" href="#">About</a>
                            <a href="#" class="mr-3">Feature</a>
                            <a href="#" class="signin">Sign In</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </header>

    <!-- MAIN -->
    <main role="main">
        <div class="container main_wrapper d-flex flex-column justify-content-center align-items-center">

            <!-- CAPTION -->
            <div class="header_caption mb-5">
                <h1 class="display-4">To travel is to live</h1>
                <p class="lead">Where you want to go, with what you want to spend.</p>
            </div>

            <!-- FORM -->
            <form action="#" class="form">
                <div class="d-flex justify-content-center align-items-end">
                
                    <div class="origin">
                        <div><label for="origin">From</label></div>
                        <input type="text" name="origin" id="origin" placeholder="Phoenix" class="col p-3 leftBorder">
                    </div>
    
                    <div class="destination">
                        <div><label for="destination">To</label></div>
                        <input type="text" name="destination" id="destination" placeholder="New York" class="col p-3">
                    </div>
    
                    <div class="outboundDate">
                        <div><label for="outboundDate">Depart</label></div>
                        <input type="date" name="outboundDate" id="outboundDate" placeholder="06/18/19" class="col p-3">
                    </div> 

                    <div class="inboundDate">
                        <div><label for="inboundDate">Return</label></div>
                        <input type="date" name="inboundDate" id="inboundDate" placeholder="07/18/19" class="col p-3">
                    </div>  

                    <div class="adults">
                        <div><label for="adults">Passengers</label></div>
                        <input type="number" name="adults" id="adults" value="1" class="col p-3">
                    </div> 

                    <div class="return">
                        <div><label for="depart">Cabin class</label></div>
                        <input type="text" name="return" placeholder="Economy" class="col p-3">
                    </div>  
    
                    <input type="submit" name="submit" class="col-1 p-3 bg-light rightBorder">
                    
                </div>
            </form>
            
        </div>
    </main>

</body>
</html>