<!DOCTYPE html>
<html lang="en">
<head>

    <!-- MATA DATA -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- BOOTSTRAP STYLES -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- FETCH STYLES -->
    <link rel="stylesheet" href="assets/index.css">

    <!-- FETCH FAVICON -->
    <link rel="shortcut icon" type="image/png" href="assets/brand/fetch-favicon.png"/>

    <title>Flight Fetch | Home</title>

</head>
<body>

    <!-- HEADER -->
    <header role="header">

        <div class="container-fluid">
            <!-- NAV -->
            <nav>
                <div class="container">
                    <div class="d-flex flex-row p-3 justify-content-between align-items-center">
                        <!-- BRAND -->
                        <div>
                            <a href="#"><img class="brand" src="assets/brand/fetch-logo.png" alt="brand"></a>
                        </div>
                        <!-- NAV-LINKS -->
                        <div>
                            <a class="mr-3" href="#">About</a>
                            <a href="#">Feature</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </header>

    <!-- MAIN -->
    <main role="main" class="d-flex justify-content-between align-items-center">
        <div class="container">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">First and last name</span>
                </div>
                <input type="text" aria-label="First name" class="form-control">
                <input type="text" aria-label="Last name" class="form-control">
            </div>
        </div>
    </main>

</body>
</html>