<!DOCTYPE html>
<html lang="en">

<head>

  <!-- MATA DATA -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- BOOTSTRAP STYLES -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- FETCH STYLES -->
  <link rel="stylesheet" href="assets/index.css">

  <!-- FETCH FAVICON -->
  <link rel="shortcut icon" type="image/png" href="assets/brand/fetch-favicon.png" />

  <title>Flight Fetch | Home</title>

</head>

<body>

  <!-- HEADER -->
  <header role="header" class="fixed-top">
    <div class="container-fluid">

      <nav>
        <div class="container">
          <div class="d-flex flex-row p-3 justify-content-between align-items-center">
            <!-- BRAND -->
            <div>
              <a href="#"><img class="brand" src="assets/brand/fetch-logo.png" alt="brand"></a>
            </div>
            <!-- NAV-LINKS -->
            <div>
              <a class="mr-3" href="#">About</a>
              <a href="#" class="mr-3">Feature</a>
              <a href="#" class="signIn" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Sign
                In</a>
            </div>
          </div>
        </div>
      </nav>

    </div>
  </header>

  <!-- MAIN -->
  <main role="main">
    <section class="fold d-flex flex-column justify-content-center align-items-center">
      <div class="container main_wrapper d-flex flex-column justify-content-center align-items-center">

        <!-- CAPTION -->
        <div class="header_caption mb-5">
          <h1 class="display-4">To travel is to live</h1>
          <p class="lead">Where you want to go, with what you want to spend.</p>
        </div>

        <!-- SIGN IN FORM -->
        <div class="modal mt-5 fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header bg-success">
                <img class="brand" src="assets/brand/fetch-w-logo.png" alt="brand">
                <h5 class="ml-3 modal-title" id="exampleModalLabel">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="email" class="col-form-label">email:</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email"
                      required>
                  </div>
                  <div class="form-group">
                    <label for="password" class="col-form-label">Password:</label>
                    <input type="password" name="password" id="password" class="form-control"
                      placeholder="Enter your password" required>
                  </div>
                </form>
              </div>
              <div class="button">
                <button type="button" class="col btn btn-success">Sign In</button>
              </div>
            </div>
          </div>
        </div>

        <!-- QUERY FORM -->
        <form action="#" class="query-form">
          <div class="d-flex justify-content-center align-items-end">

            <input type="hidden" name="cabinClass" id="cabinClass" value="economy">
            <input type="hidden" name="children" id="children" value="0">
            <input type="hidden" name="infants" id="infants" value="0">
            <input type="hidden" name="country" id="country" value="US">
            <input type="hidden" name="currency" id="currency" value="USD">
            <input type="hidden" name="locale" id="locale" value="en-US">

            <div class="origin">
              <div><label for="origin">From</label></div>
              <input type="text" name="origin" id="origin" placeholder="Phoenix" class="col-auto p-3 leftBorder">
            </div>

            <div class="destination">
              <div><label for="destination">To</label></div>
              <input type="text" name="destination" id="destination" placeholder="New York" class="col-auto p-3">
            </div>

            <div class="outboundDate">
              <div><label for="outboundDate">Depart</label></div>
              <input type="date" name="outboundDate" id="outboundDate" placeholder="06/18/19" class="col-auto p-3">
            </div>

            <div class="inboundDate">
              <div><label for="inboundDate">Return</label></div>
              <input type="date" name="inboundDate" id="inboundDate" placeholder="07/18/19" class="col-auto p-3">
            </div>

            <div class="adults">
              <div><label for="adults">Passengers</label></div>
              <input type="number" name="adults" id="adults" min="1" value="1" class="col p-3">
            </div>

            <input type="submit" name="submit" class="bg-success col-1 p-3 rightBorder">

          </div>
        </form>

      </div>
    </section>
    <section class="our-mission">
      <div class="con-full-width">
        <div class="v-con">
          <h1 class="headline">FETCH MISSION</h1>
          <p class="body-text mission-statement">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem
            sapiente excepturi quae, animi temporibus quibusdam in porro ducimus officiis laudantium iure sint mollitia
            praesentium ut aut, ab laborum! Sunt, obcaecati.</p>
        </div>
      </div>
    </section>

    <section class="our-team">
      <div class="v-con">
        <h1 class="headline">TEAM FETCH</h1>
        <p class="body-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <div class="card-wrapper">

          <div class="card-item">
            <div class="graphic graphic-one"></div>
            <span class="card-title">Seth Ortiz</span>
            <small>Follow me on social media</small>
            <div class="action-group">
              <a class="action" href="https://bit.ly/2IpZQiY" target="_blank">LinkedIn</a>
              <a href="https://github.com/SethOrtiz" target="_blank" class="action">Github</a>
            </div>
          </div>
          <div class="card-item">
            <div class="graphic graphic-two"></div>
            <span class="card-title">Clarance Farley</span>
            <small>Follow me on social media</small>
            <div class="action-group">
              <a class="action" href="https://bit.ly/2L04MN9" target="_blank">LinkedIn</a>
              <a href="https://github.com/claranceatgalvanize" target="_blank" class="action">Github</a>
            </div>
          </div>
          <div class="card-item">
            <div class="graphic graphic-three"></div>
            <span class="card-title">Alejandro Martinez</span>
            <small>Follow me on social media</small>
            <div class="action-group">
              <a class="action" href="https://bit.ly/2x1QFyH" target="_blank">LinkedIn</a>
              <a href="https://github.com/ja-martinez" target="_blank" class="action">Github</a>
            </div>
          </div>

        </div>
      </div>
    </section>
  </main>

</body>
<footer role="footer">

  <div class="footer-body">
    <div class="v-con">

      <ul>
        <li class="about flex-2">
          <h3><img class="footer-brand" src="assets/brand/fetch-logo.png" alt=""></h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque aspernatur eaque laborum voluptatibus amet.
            adipisicing elit.</p>
        </li>
        <li class="flex">
          <h3>Github</h3>
          <a class="contact-link" href="">Alejandro</a>
          <a class="contact-link" href="">Clarance</a>
          <a class="contact-link" href="">Seth</a>
        </li>
        <li class="flex">
          <h3>LikedIn</h3>
          <a class="contact-link" href="">Alejandro</a>
          <a class="contact-link" href="">Clarance</a>
          <a class="contact-link" href="">Seth</a>
        </li>
        <li class="flex">
          <h3>Getting Started</h3>
          <a class="contact-link" href="">Support</a>
          <a class="contact-link" href="">How to!</a>
          <a class="contact-link" href="">Doc</a>
        </li>
      </ul>

    </div>
  </div>

  <!-- BOOTSTRAP SCRIPT -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
</footer>

</html>