<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fetch/Register</title>
    <style media="screen"></style>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link href="assets/register.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- HEADER -->
    <header role="header" class="fixed-top">
        <nav>
          <div class="container">
            <div
              class="d-flex flex-row p-3 justify-content-between align-items-center"
            >
              <!-- BRAND -->
              <div>
                <a href="#"
                  ><img
                    class="brand"
                    src="assets/brand/fetch-logo.png"
                    alt="brand"
                /></a>
              </div>
              <!-- NAV-LINKS -->
              <div>
                <a class="mr-3" href="#">About</a>
                <a href="#" class="mr-3">Feature</a>
                <a href="/" class="mr-3">Home</a>
              </div>
            </div>
          </div>
        </nav>
    </header>

    <div id="main" class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Register</h5>
              <form action="/register" method="POST" class="form-signin">
                <div class="form-label-group" action="/login" method="post">
                  <input
                    type="email"
                    name="email"
                    id="inputEmail"
                    class="form-control"
                    placeholder="Email address"
                    required
                    autofocus
                  />
                  <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    name="password"
                    id="inputPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                  <input
                    type="password"
                    id="inputConfirmPassword"
                    class="form-control"
                    placeholder="Password"
                    required
                  />
                  <label for="inputConfirmPassword">Confirm password</label>
                </div>

                <button
                  id="submit"
                  class="btn btn-lg text-white btn-block text-uppercase"
                  type="submit"
                >
                  Register
                </button>
                <hr class="my-4" />
                <div class="container text-center">
                  <a id="sign" href="/">Sign In</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/register.js"></script>
  </body>
</html>

<!-- Sign up with Facebook or Google -->
<!-- <button
class="btn btn-lg btn-google btn-block text-uppercase"
type="submit"
>
<i class="fab fa-google mr-2"></i> Sign up with Google
</button>
<button
class="btn btn-lg btn-facebook btn-block text-uppercase"
type="submit"
>
<i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook
</button> -->

<!-- Remember Password -->
<!-- <div class="custom-control custom-checkbox mb-3">
  <input
    type="checkbox"
    class="custom-control-input"
    id="customCheck1"
  />
  <label class="custom-control-label" for="customCheck1"
>Remember password</label>
 </div> -->
