/* ==================================== GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900&display=swap');

html,body{
    font-family: 'Source Sans Pro', sans-serif;
    background: #eee;
    letter-spacing: .02em;
    height: 100%;
    width: 100%; 
    padding: 0;
    margin: 0;
}

/* ==================================== HEADER */
header {
    background: #222;
    font-size: 1.4em;
    color: #eee;
}

header a:hover {
    text-decoration: none;
    color: #6b5;
}

header a { color: #eee }
.brand { width: 6em }

/* ==================================== MAIN */
.main {
    background: #ccc;
    margin-top: 8em; 
    height: 100vh;
    width: 100%;

}

/* ==================================== FOOTER */
footer {
    background: #222;
    padding: 2em 0;
    color: #333
}

footer h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: .5em;
}

.footer-about { padding: 0 4em 0 0 }
footer:hover { color: #444 }

.footer-brand {
    display: block;
    width: 4em;
}

footer ul {
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    list-style: none;
    display: flex;
}

footer a {
    text-decoration: none;
    display: flex;
    color: #333
}

.flex-2 { flex: 2 }
.flex { flex: 1 }

.contact-link:hover {
    text-decoration: none;
    color: #6b5;
}